<h1>About Auction de Vanagon</h1>


<div class="col-md-12">

<img src="http://i.ebayimg.com/00/s/NjUxWDk4Mw==/z/LicAAOxyHIlTZOhn/$_35.JPG">

<hr>
<p>US Vanagon model variations included the Vanagon, featuring vinyl seats and a spartan interior; the Vanagon L with optional cloth seats, more upscale interior panels, and an optional dashboard blower; the Vanagon GL with more equipment, and the Westfalia pop-top camper Vanagons, which came in two versions. A Camper version with integrated kitchen, complete with refrigerator (which ran on Propane, 110V or 12V), a two burner stove, and stainless steel sink with onboard water supply.
A fold down rear bench seat converted to a bed and the pop-top included a fold out bed; these models could sleep four adults. A 'Weekender ' version which lacked the refrigerator, propane stove, and sink of the full 'camper' versions offered an optional removable cabinet with a 12 volt cooler and self-contained sink. In 1984, the Wolfsburg edition was configured with a rear bench seat and two forward facing middle seats.
Under the bench seat, which folded down to make full size bed, was a storage compartment and a rear heater.<br>
Wolfsburg Edition "Weekender" models featured two rear facing seats behind the front seats in place of a centre bench seat and a table that could fold up from the sidewall – or fold down when not in use. "Multivan" models featured Wolfsburg Edition trim and an interior with rear-facing seats. Wolfsburg Edition and camper van vehicles were outfitted for Volkswagen by the Westfalia factory.
Syncros models were manufactured in limited numbers from 1985 through 1992, with the four-wheel drive system added by Steyr-Daimler-Puch Works in Graz, Austria, with a short wheelbase and 48/52 front/rear weight distribution.<br>
Model years 1980 to 1985 had round sealed beam headlights. Subsequent models for North American and European markets had round sealed beam headlights or smaller square headlights, with the primary lights outboard and high beams inboard. Later models from South Africa returned to round headlight housings for both the primary headlights and high-beams.
The T3 was replaced by the T4 (Eurovan) in the US market in 1993 (1992 saw no Volkswagen bus imported into the U.S. market, save custom campers sold by companies other than VW). Top-of-the-line Wolfsburg Edition Westfalia Campers, which had all options, were at the top of the price range. In addition to the camper models, a Carat trim level was available for 1990 and 1991 model years. This model included all options available for the Transporter configuration. Some models had optional aluminum alloy wheels.
</p>

</div>
