<h1>Contact</h1>
  <div class="row">

  <h4>
    <img src="img/VW.png" style="width:150px;length:150px">
   Email: Vanagon@today.com
  </h4>
<br>

  <h4>
    <img src="img/phone.jpg" style="width:150px;length:150px">
   Phone: 1-800-VANAGON
  </h4>
</div>
