<h1> Vanagon Auction </h1>

<ul>
  {{#each lot in model}}
  <li>{{#link-to 'lot' lot}}{{lot.description}}{{/link-to}}</li>
  <li>{{#link-to 'lot' lot}}{{lot.bidNumber}}{{/link-to}}</li>

  {{/each}}
</ul>

{{#link-to 'new-lot' classNames="btn btn primary"}}New Vanagon{{/link-to}}
