<h3>Add New Vanagon Lot</h3>
<form>

  <div class="form-group">
    <label for="era">Era:</label>
    {{input value=era id="era" class="form-control" placeholder="eg. 1960's, 1970's"}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>
