<h2>Add New Lot</h2>
<form>
  
  <div class="form-group">
    <label for="title">Bid Number</label>
    {{input value=title id="title" class="form-control"}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>
